[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
numpy = "*"
pandas = "*"
scipy = "*"
matplotlib = "*"
yahoo-fin = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.9"
